
@{
    ViewData["Title"] = "StudentDetails";
}

<h1>Student Details</h1>
<p>
    Your RollNo: @ViewBag.RollNo
</p>
<p>
    Your Name: @ViewBag.Name
</p>
<p>
    Your City: @ViewBag.City
</p>
<p>
    Gender: @ViewBag.Gender 
</p>
<p>
    Your Current Year: @ViewBag.CurrentYear
</p>



